/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
	background: #171717;
	color: white;
}
.navbar {
	padding: 0px;
}
.container-fluid {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	padding-top: 51px;
	padding-bottom: 48px;
	background-color: #202020;
}

h1,
h2,
h3 {
	font-family: "Roboto", sans-serif;
}
h2 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 25px;
}
h1 {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-bottom: 25px;
}
h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 0px;
}

.button_main {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 18px 40px;
	border-radius: 50px;
	margin-top: 40px;
	margin-bottom: 301px;
	letter-spacing: 0.1em;
}

.head_block {
	background-image: url(../img/bg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-color: #212121;
	background-size: 1440px auto;
}
.head_block_text {
	text-align: center;
	margin-top: 138px;
}

.img_main {
	padding: 25px;
	margin-left: 0px;
	margin-right: 0px;
}
.photos {
	margin: 100px auto;
}
.bottom_nav {
	background-color: #282323;
	padding: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
}
.thirdcol {
	text-align: right;
}
.secondcol {
	text-align: center;
}
.icons {
	margin: auto 30px;
}
.navigator {
	color: white !important;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
}
.navigator-text {
	text-align: right !important;
	flex-grow: 0;
	margin-right: 140px;
}

.navigator-icon {
	margin-left: 140px;
}
.nav-item {
	padding-left: 20px;
}
